{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .card-img-top {
      width: 100%;
      height: auto;
    }
    .card-body {
      text-align: center;
    }
    .card {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="https://cinerp.com/media/movies/posters/banners/2_NF5Wp3r.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ბაიკერები</h5>
            <a href="https://www.kinoafisha.ge/movie/current/?id=664ef8e5de5280e2ba10773a" class="btn btn-primary">გადადი შესაძენად</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="https://cinerp.com/media/movies/posters/banners/2_XJkYUJi.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">თავდაყირა 2</h5>
            <a href="https://www.kinoafisha.ge/movie/current/?id=6648800cde5280e2ba0ffbe8" class="btn btn-primary">გადადი შესაძენად</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="https://cinerp.com/media/movies/posters/banners/2_m1Orlmr.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">თვალთვალი</h5>
            <a href="https://www.kinoafisha.ge/movie/current/?id=662a3ebfde52804c80c2cd70" class="btn btn-primary">გადადი შესაძენად</a>
          </div>
        </div>
      </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="https://cinerp.com/media/movies/posters/banners/2_YSvXaZ0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">10 სიცოცხლე</h5>
            <a href="https://www.kinoafisha.ge/movie/current/?id=664eff49de5280e2bb50e222" class="btn btn-primary">გადადი შესაძენად</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="https://cinerp.com/media/movies/posters/banners/2_F6VBLE9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">სიკეთის სახეები</h5>
            <a href="https://www.kinoafisha.ge/movie/current/?id=664f0abbde5280e2bb50e577" class="btn btn-primary">გადადი შესაძენად</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


{% endblock %}